<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cliente.name %>
</p>

<p>
  <b>Endereco:</b>
  <%= @cliente.endereco %>
</p>


<p>
  <b>Born on:</b>
  <%= @cliente.born_on %>
</p>

<p>
  <b>Female:</b>
  <%= @cliente.female %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
