<h1>Listing washings</h1>

<table>
  <tr>
    <th>Automovel</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @washings.each do |washing| %>
  <tr>
    <td><%= washing.automovel_id %></td>
    <td><%= washing.type_id %></td>
    <td><%= link_to 'Show', washing %></td>
    <td><%= link_to 'Edit', edit_washing_path(washing) %></td>
    <td><%= link_to 'Destroy', washing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Washing', new_washing_path %>
